<div class="container">
<div class="row">
  <div class="col-xs-10 col-sm-11 goal-show">
    <h1><%= @auction.title %></h1>
    <p><%= @auction.details %></p>
    <p>Created By: <%= @auction.user_full_name %></p>
    <p>End date:<%= @auction.ends_on %></p>
    <p>Status: <%= @auction.aasm_state %>
    <p>Reserve price: $<%= @auction.reserve_price %></p>

      <%= link_to 'Edit', edit_auction_path(@auction), class: 'btn btn-primary' %>

      <%= link_to 'Delete', auction_path(@auction),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

    <% if @auction.draft? %>
        <%= link_to 'Publish', publish_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', cancel_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
      <% elsif @auction.published? %>
    <% end %>

    <% if @auction.published? %>
        <%= link_to 'Cancel', cancel_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
        <%= link_to 'Re-draft', draft_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
      <% elsif @auction.canceled? %>
      <% elsif @auction.draft? %>
    <% end %>

    <% if @auction.canceled? %>
        <%= link_to 'Re-draft', draft_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
      <% elsif @auction.draft? %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
    <p>Current Highest Bid: $
      <% if @auction.bids.present? %>
        <%= @auction.max_amount %>
      <% end %>
    </p>

      <%= @bid.errors.full_messages.join(', ') %>
      <h5>New Bid</h5>
      <div class="col-xs-12">
        <%= form_for [@auction, @bid] do |f| %>
          <div class="form-group">
            <%= f.text_field :bid_amount, placeholder: '$' %>
          </div>
            <%= f.submit class: "btn btn-default" %>
        <% end %>
        <hr/>
      </div>
      
    <h5>Bid History</h5>
    <div class="row">
    <% @auction.bids.each do |bid| %>
      <div class="col-xs-11">
        <p>$<%= bid.bid_amount %> &nbsp;
        <%= bid.user.full_name %>&mdash;<%= bid.created_at.strftime("%l:%M%P, %B %d, %Y ") %></p>
      </div>
    <% end %>
    </div>
</div>
</div>
