<div class="container">
<div class="row">
  <div class="col-xs-10 col-sm-11 goal-show">
    <h1><%= @auction.title %></h1>
    <p><%= @auction.details %></p>
      <!-- Created By: <%#= @auction.user_full_name %> -->
    <p><%= @auction.ends_on %> date</p>
    <p>$<%= @auction.reserve_price %></p>

      <%= link_to 'Edit', edit_auction_path(@auction), class: 'btn btn-primary' %>

      <%= link_to 'Delete', auction_path(@auction),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

    <% if @auction.draft? %>
        <%= link_to 'Publish', publish_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', cancel_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
      <% elsif @auction.published? %>
      <p>Auction is published</p>
    <% end %>

    <% if @auction.published? %>
        <%= link_to 'Cancel', cancel_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
        <%= link_to 'Re-draft', draft_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
      <% elsif @auction.canceled? %>
      <p>Auction is canceled</p>
      <% elsif @auction.draft? %>
      <p>Auction has been re-drafted</p>
    <% end %>

    <% if @auction.canceled? %>
        <%= link_to 'Re-draft', draft_path(@auction),
                                method: :post,
                                data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
      <% elsif @auction.draft? %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div id='bid-form'>
    <%= @bid.errors.full_messages.join(', ') %>
    <div class="col-xs-12">
      <%= simple_form_for [@auction, @bid] do |f| %>
        <div class="form-group">
          <%= f.input :bid_amount %>
        </div>
          <%= f.submit class: "btn btn-default" %>
      <% end %>
      <hr/>
    </div>
  </div>

  <% @auction.bids.each do |bid| %>
    <div class="col-xs-11">
      $<%= bid.bid_amount %>&nbsp bid
    </div>
    <!-- <div class="col-xs-1">
        <%#= link_to 'Delete', bid_path(bid),
                    method: :delete,
                    data: { confirm: 'are you sure?' },
                    class: "btn btn-danger" %>
    </div> -->
  </div>
    <% end %>
</div>
